[Unit]
Description=aiogram-ceiling
After=syslog.target
After=network.target

[Service]
Type=simple
User=vlondin
WorkingDirectory=/home/vlondin/aiogram-ceiling
ExecStart=/home/vlondin/aiogram-ceiling/venv/bin/python3 /home/vlondin/aiogram-ceiling/main.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target